<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/ai_calc" method="POST">
  첫번째 수:<br>
  <input type="text" name="num1" >
  <br>
  두번째 수:<br>
  <input type="text" name="num2" >
  <br>
  <select name="opcode" >
      <option value="add">+</option>
      <option value="sub">-</option>
      <option value="mul">*</option>
      <option value="div">/</option>
    </select>
    <br>
  <input type="submit" value="Submit">
</form>
<!-- jinja 템플릿 이라고 함.> 카페 참조...-->
{%  if result %}
<p>결과 : {{result}}</p>
{% endif %}
</body>
</html>
